@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap");

:root {
    --primary-color: #d1884f;
    --secondary-color: #008aaa;
    --accent-color: #3bbadb;
}

/* General styles for the whole page */
body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style for the main content container */

.wrapper {
    width: 1536px;
    height: 739px;
    margin: 0 auto;
}

.nav-container {
    background-color: #ffffff;
    height: 79px;
    width: 100%;
    display: flex;
    align-items: end;
}

.nav-position {
    display: flex;
    align-items: center;
    margin-left: 830px;
}

.nav-item {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    padding: 0 10px;
    /* Add padding to create space between nav-items */
    transition: color 0.3s;
    /* Add transition for smooth color change */
    margin-left: 40px;
}

/* Style for the nav-item when it's actively clicked */
.nav-item.clicked {
    color: var(--primary-color);
}

.nav-item i {
    margin-right: 5px;
}

main {
    display: flex;
}

/* Styling for the main content section */
.article-container {
    width: 45%;
    margin-top: 120px;
}

.Welcome-Message {
    font-family: "Inter", sans-serif;
    color: var(--accent-color);
    font-size: 24px;
    margin-left: 123px;
}

h1 {
    font-family: "Inter", sans-serif;
    margin-left: 123px;
    font-size: 45px;
    font-weight: 600;
    color: #018db0;
}

.Developer {
    color: var(--primary-color);
}

#description {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
    margin-left: 123px;
}

#description a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 500;
}

/* Styling for the button container and buttons */
.button-container {
    display: flex;
    margin-left: 123px;
}

.button {
    font-family: "Inter", sans-serif;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 40px;
    color: var(--secondary-color);
    background-color: white;
    border: 2px solid var(--secondary-color);
    cursor: pointer;
    border-radius: 10px;
}

.button:first-child {
    background-color: var(--secondary-color);
    color: white;
    border: 2px solid var(--secondary-color);
    width: 140px;
    margin-right: 20px;
    box-shadow: 0 8px 4px rgba(0, 138, 170, 0.3);
}

.button:last-child {
    width: 200px;
    border: 2px solid var(--secondary-color);
}

/* Styling for the img-container */

.img-container {
    width: 55%;
    margin-top: 30px;
    margin-right: 100px;
}

/* Styling for the positioned and overlay elements */
.blue-overlay {
    position: absolute;
    margin-top: 100px;
    margin-left: 220px;
    width: 380px;
    height: 400px;
    background-color: #2bb6d9;
    opacity: 0.36;
    transform: rotate(-1.57deg);
    border-radius: 0 0 0% 50%;
}

.overlay-element {
    position: absolute;
    margin-top: 100px;
    margin-left: 220px;
    width: 380px;
    height: 400px;
    background-color: #2bb6d9;
    transform: rotate(-1.57deg);
    border-radius: 0 0 0% 50%;
    opacity: 0.36;
}

/* Styling for the image element */

.image-element {
    position: absolute;
    margin-top: 70px;
    margin-left: 240px;
    width: 410px;
    height: 430px;
    border-radius: 0 0 0% 50%;
    transform: rotate(-1.57deg);
}